#user-info {
    display: none;
}

#auth {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #004643;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1001; /* Ensure the modal is above the spinner */
}

.auth-option {
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #001e1d;
    color: #e8e4e6;
    border-radius: 4px;
    margin-right: 5px;
}

.auth-option:hover {
    background-color: #f9bc60;
    color: #001e1d;
}

#user {
    position: absolute;
    top: 12px;
    right: 60px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #004643;
    border: 2px solid transparent;
    color: #e8e4e6;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    z-index: 4;
}

#user:hover {
    background-color: #f9bc60;;
    color: #001e1d;
}

#auth-close {
    color: #e8e4e6;
}

#auth-close:hover {
    color: #f9bc60;
}