<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AccessAble Maps</title>
    <link rel="stylesheet" href="/static/style.css"> 
    <link rel="stylesheet" href="/static/auth.css">
    <link rel="stylesheet" href="/static/itinerary.css">
    <link rel="stylesheet" href="/static/place-info.css">
    <link rel="stylesheet" href="/static/review.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <button id="user" onclick="authenticate()">
        <i class="fa-solid fa-user"></i>
    </button>
    <div id="auth">
        <form>
            <div id="user-email">
                <label for="email">Email Address</label>
                <input type="email" id="email" name="email" placeholder="Enter your email" required>
            </div>
            <div id="user-password">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
            </div>
            <button id="login-button" class="auth-option" onclick="login(event)">Login</button>
            <button id="register-button" class="auth-option" onclick="register(event)">Register</button>
            <button type="button" id='auth-close' class="close" onclick="closeDiv('auth')"><i class="fa-solid fa-x"></i></button>
        </form>
    </div>   

    <div id="user-info">
        <button type="button" id='user-close' class="close" onclick="closeDiv('user-info')"><i class="fa-solid fa-x"></i></button>
        <h3 id="user-email-display"></h3>
        <div id="profile-content">
            <div id="profile-options">
                <p class="profile-option" id='userReviews' onclick="showUserReviews()">Your reviews</p>
                <p class="profile-option" id="userSaved" onclick="showUserSaved()">Your saved places</p>
            </div>
            <div id="user-view"></div>
        </div>
        
        <button id="logout" onclick="logout()">Logout</button>
    </div>  

    <div id="spinner-container">
        <div id="spinner"></div>
    </div>

    <div id="map-container">
        <div id="map"></div>
        <div id="arrival-container" class="arrival-container">
            <input type="text" id="arrival" placeholder="Look up a place">
            <button onclick="searchPlaces()" id="search-button">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>     

        <div id="info-display">
            <div id="place-info">
                <img src="" id="place-image">
                <div id="place-name"></div>
                <div class="info">
                    <div class="icon-div"><i class="fa-solid fa-location-dot"></i></div>
                    <span id="place-address"></span><br>
                </div>
                <div class="info">
                    <div class="icon-div"><i class="fa-solid fa-phone"></i></div>
                    <span id="place-phone"></span><br>
                </div>
                <div class="info">
                    <div class="icon-div"><i class="fa-solid fa-link"></i></div>
                    <a id="place-website" hre="#" target="_blank"></a><br>
                </div>
                <div class="info">
                    <div class="icon-div"><i class="fa-solid fa-star"></i></div>
                    <a href="javascript:void(0)" id="place-rating" onclick="viewReviews()">4.5 out of 5</a>
                </div>
            </div>
            <p style="font-weight: 400;">Enter your location and accessibility preference, and let's go!</p>
            <div id="plan-journey-container">
                <input type="text" id="departure" placeholder="Departure">   
                <button id="plan-button" onclick="planJourney()">Go!</button>
            </div>
            <div id="accessiblity-options">
                <button class="wheelchair" onclick="selectAccessibility('wheelchair')">
                    <span class="material-icons md-18">accessible</span>
                    <span class="accessibility-text">Wheelchair</span>
                </button>
                <button class="cane" onclick="selectAccessibility('cane')">
                    <span class="material-icons md-18">elderly</span>
                    <span class="accessibility-text">Cane</span>
                </button>
                <button class="custom" onclick="selectAccessibility('custom')">
                    <span class="material-icons md-18">tune</span>
                    <span class="accessibility-text">Custom</span>
                </button>
                <br>
                <div id="custom-options">
                    <button class="access-param" id="stepFreeToVehicle" data-value="stepFreeToVehicle" onclick="selectCustomAccessibility('stepFreeToVehicle')">Step Free to Vehicle</button>
                    <button class="access-param" id="noSolidStairs" data-value="noSolidStairs" onclick="selectCustomAccessibility('noSolidStairs')">No solid stairs</button>
                    <button class="access-param" id="stepFreeToPlatform" data-value="stepFreeToPlatform" onclick="selectCustomAccessibility('stepFreeToPlatform')">Step Free to Platform</button>
                    <button class="access-param" id="noEscalators" data-value="noEscalators" onclick="selectCustomAccessibility('noEscalators')">No escalators</button>
                    <button class="access-param" id="noLifts" data-value="noElevators" onclick="selectCustomAccessibility('noLifts')">No lifts</button>
                </div>    
            </div>            
            <button class="close" onclick="closeDiv('info-display')">
                <i class="fa-solid fa-x"></i>
            </button>
        </div>
        
        <div id="itinerary-container">
        </div>
    </div>

    <div id="reviews">
        <h3>Reviews</h3>
        <div id="review-list">
        </div>
        <form id="review-form" >
            <p>Submit your own review</p>
            <textarea id="review-text" name="review-text" placeholder="How accessible was this place?"></textarea>
            <div class="star-rating">
                <button type="button" class='star' data-rating="1" onclick="changeColor(1)"><i class="fa-solid fa-star"></i></button>
                <button type="button" class='star' data-rating="2" onclick="changeColor(2)"><i class="fa-solid fa-star"></i></button>
                <button type="button" class='star' data-rating="3" onclick="changeColor(3)"><i class="fa-solid fa-star"></i></button>
                <button type="button" class='star' data-rating="4" onclick="changeColor(4)"><i class="fa-solid fa-star"></i></button>
                <button type="button" class='star' data-rating="5" onclick="changeColor(5)"><i class="fa-solid fa-star"></i></button>
            </div>
            <button type="submit" onclick="submitReview(event)">Submit</button>
        </form>
        <button class="close" onclick="closeDiv('reviews')">
            <i class="fa-solid fa-x"></i>
        </button> 
    </div>
</body>
<script>const PLACES_API_URL = "{{ PLACES_API_URL }}"; </script>
<script src="/static/google-maps-api.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}&libraries=places&callback=initMap" async defer></script>
</html>
